/* General styles */
body {
    font-family: sans-serif;
    background-color: #e8d0e4; /* Light violet */
    color: #382047; /* Dark violet */
  }
  #Forms{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  h1, h2, h3, h4 {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #c7b2c9; /* Lighter violet border */
  }
  
  /* Header */
  header {
    background-color: #b08fa0; /* Medium violet */
    padding: 1rem;
  }
  
  #title {
    color: white;
    text-align: center;
  }
  
  /* Form */
  form {
    display: flex; /* Make forms inline */
    flex-direction: column; /* Stack inputs/outputs vertically */
    align-items: center;
    width: 35%; /* Set width for each form */
    margin: 1rem; /* Add margin for spacing */
    padding: 1rem;
    border: 1px solid #c7b2c9; /* Lighter violet border */
    border-radius: 4px;
  }
  
  .FormTitle {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .inputs,
  .Results {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #c7b2c9; /* Lighter violet border */
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  
  /* Button */
  input[type="button"] {
    height: 60px;
    padding: 10px 20px;
    background-color: #b08fa0; /* Medium violet */
    color: white;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type="button"]:hover {
    background-color: #9c6ea7; /* Darker violet on hover */
  }